.git
.gitignore
.gitattributes
.editorconfig

.env
.env.*
!.env.example

node_modules
vendor

storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*

Dockerfile
docker-compose*.yml
.dockerignore

npm-debug.log
yarn-error.log
coverage
.phpunit.cache
